.header {
  height: 300px;
}

.avatar {
  width: 300px;
  border-top-right-radius: 25px;
  border-top-left-radius: 25px;
}

.bio {
  padding-bottom: 22px;
  padding-top: 20px;
  width: 300px;
}

.name {
  display: flex;
  justify-content: center;
  font-size: 25px;
}

.title {
  display: flex;
  justify-content: center;
  color: #d811bd !important;
  font-size: 16px;
}

.small {
  display: flex;
  justify-content: center;
  margin: 0;
  padding-top: 10px;
  font-size: 12px;
}

.contacts {
  display: flex;
  justify-content: center;
  padding-top: 22px;
}

.links {
  text-decoration: none;
  display: inline-block;
  align-items: center;
  border: 1px solid #656769;
  color: #374151;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 10px;
  cursor: pointer;
}

.email {
  background-color: #f5f5f5;
}

.icons {
  width: 24px;
  padding-right: 10px;
  align-items: center;
}

.linkedin {
  background-color: #297fe5;
  color: #ffffff;
  margin-left: 17px;
}
