/* [data-theme="light"] {
  --bg-color: rgb(201, 35, 145);
  --text-color: #000;
} */

/* [data-theme="dark"] {
  --bg-color: #3f3f3f;
  --text-color: #f5f5f5;
/* } 
:root.dark {
  --titledark: #cc2299;
}
*/
/* :root {
  --title: #297fe5;
  --titledark: #cc2299;
} */

/* @media (prefers-color-scheme: dark) {
  #title-dark.dark {
    color: var(--titledark);
  }
}

@media (prefers-color-scheme: light) {
  .title.light {
    color: var(--title);
  }
} */

.title {
  display: flex;
  justify-content: center;
  margin: 0;
  padding-top: 10px;
  font-size: 16px;
}

.App {
  display: flex;
  justify-content: center;
  flex-direction: column;
  max-width: 300px;
  border-bottom-right-radius: 25px;
  border-bottom-left-radius: 25px;
  border-top-right-radius: 25px;
  border-top-left-radius: 25px;
}

.bt {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 10px;
  margin: 0;
  color: rgb(105, 26, 2);
}

.bt2 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 10px;
  margin: 0;
  color: rgb(221, 144, 0);
}
